<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FlyCon</title>
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/L6RYqrb/windsock.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
      <img src="https://i.ibb.co/L6RYqrb/windsock.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          FlyCon
      </a>       
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/how">How to Use</a>
          </li>
          <li class="nav-item">
              <a class="nav-link active" href="/ai">AI Questionaire</a>
          </li>
        </ul>
      </div>
    </div>
    
  </nav>
  <body data-bs-theme="dark">

        <center><div class="card text-bg-danger mb-3" style="width:80%;margin: 10px 10px 10px 10px;">
            <div class="card-header h4"><b>How to use</b></div>
            <div class="card-body">
              <p class="card-text h5">Select either the “ICAO” or LAT and LONG in the search menu to search for specific airports that you are flying from and too.
                <br>
                If you select “ICAO”, type the ICAO code for the airport you are referencing.
                <br>
                If you select LAT and LONG, type the latitude followed by the longitude of the airport you are referencing.
                <br>
                To find either one (“ICAO” or LAT and LONG), ask the AI the name of the airport and it will provide you with the corresponding ICAO followed by latitude and longitude.
                <br>
                After the previous process is completed the website will show you the danger level of the route, as well as some information and data of the airport.
                <br>
                If you want a more specific explanation of the weather conditions type in the route name followed by “conditions” in the AI search bar and the AI will provide you with an elaborate explanation of the weather and what to be looking out for.
                <br>
                The <a href="/ai" class="h5" style="">AI</a> can answer any question regarding airports and the weather.</p>
            </div>
          </div></center>
          
  </body>
</html>
